body {
  background: rgb(51, 51, 51);
}

#verif {
  cursor: pointer;
  z-index: 100;
}

#result {
  color: white;
}

#box {
  width: 100px;
  height: 100px;
  background: red;
  transition:  ease 0.3s;
}

#box.active {
  background: rgb(103, 103, 255);

}

.rond {
  height: 50px;
  width: 50px;
  margin-top: 100px;
  border-radius: 100px;
  box-shadow: 0 0 20px 20px rgba(233, 30, 30, 0.8);
  
}