body {
  background: rgb(51, 51, 51);
}

.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 8px;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  font-size: 24px;
  font-weight: bold;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#prev {
  left: 5px; 
}

#next {
 right: 5px;
}

#verif {
  cursor: pointer;
  z-index: 100;
}

#result {
  color: white;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: dodgerblue;
  width: 0%;
}


.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}
.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(255, 200, 150, 0.7);
  border-radius: 50%;
  filter: blur(1px);
}